body {
	display: block;
}

#hero {
	background-image: url(../img/snow.jpg);
}
/*#fg-hero {
	width: 100%;
}*/

a {
	font-family: 'Comfortaa';
}

h1 {
	font-family: 'Righteous';
	margin-top: 60px;
	color: #5a9ae2;
}

#monts#stations#brands {
	width: 425px;
	height: 50px;
	/*margin-top: -500px;*/
}

.ui.bottom.fixed.menu.inverted.stackable {
	z-index: 1000;
}

#about section .ui.grid.about-us {
	width: 100%;
	background-color: #FFF;
	z-index: 1000;
}

.about-us {
	background-color: #FFF;
	width: 100%;
}